.MENU_OPTION{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 4px;
    z-index: 100;
    min-width: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


    li{
        padding: 8px 12px;
        cursor: pointer;
        font-size: 14px;

        &:nth-child(2) {
                color: red;
            }
    }
}

.box_all{
    position: relative;
    display: inline-block;
}

.btn_option{
    background: none;
    border: none; 
    padding: 4;
}

.file_from_dropzone:has(.box_all:hover) .hover-block {
    opacity: 0;
    visibility: hidden;
}